.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.skill-card {
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); */
  padding: 1rem;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1); */
  transition: all 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.portfolio.light .skill-icon img {
  filter: none; /* stays black */
}

.portfolio.dark .skill-icon img {
  filter: invert(1) grayscale(1); /* turns black → white */
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 11 - 2rem * 11));
  }
}

.section-content {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 20px;
  padding: 2rem;
  backdrop-filter: blur(10px);
}

.section-content h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: Delius;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
