.certificate-section-content {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
}

.certificate-section-content h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: Delius;
}

.certificate-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.portfolio.light .certificate-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2rem;
  border: 1px solid #87cefa;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.portfolio.dark .certificate-card {
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.certificate-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.portfolio.light .certificate-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #4666ff;
  font-family: Delius;
}

.portfolio.dark .certificate-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: hsl(45, 54%, 58%);
  font-family: Delius;
}

.certification-image-container {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  /* background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1); */
}

.certification-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.certification-image:hover {
  transform: scale(1.02);
}

.certification-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(70, 102, 255, 0.1),
    rgba(135, 206, 250, 0.1)
  );
  z-index: -1;
}

.certificate-card .company,
.certificate-card .institution {
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.certificate-card .date {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.certificate-card .description {
  line-height: 1.4;
  opacity: 0.9;
}
