.section-content {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
}

.section-content h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #87cefa;
  border-radius: 15px;
  padding: 2rem;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #4666ff;
}

.card .company,
.card .institution {
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.card .date {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.card .description {
  line-height: 1.6;
  opacity: 0.9;
}

.card .tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tech-tag {
  background: #b9d9eb;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #333;
}
