.project-section-content {
  background: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  backdrop-filter: blur(10px);
}

.project-section-content h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: Delius;
}

.project-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.portfolio.light .project-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.portfolio.dark .project-card {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.portfolio.light .project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.portfolio.dark .project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0rem 0.1rem 2rem #55555588;
}

.portfolio.light .project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #4666ff;
  font-family: Delius;
}

.portfolio.dark .project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(45, 54%, 58%);
  font-family: Delius;
}

.project-image-container {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  transition: transform 0.3s ease;
}

.project-image:hover {
  transform: scale(1.02);
}

.project-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(70, 102, 255, 0.1),
    rgba(135, 206, 250, 0.1)
  );
  z-index: -1;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.project-details-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  color: inherit;
}

.project-details-icon:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.project-details-icon:active {
  transform: scale(0.95);
}
